.blog {
  overflow-y: hidden;
  font-family: Montserrat, sans-serif;
  background-color: $blog-bg;
  &__container {
    padding-top: 412px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 17px;
  }

  h6 {
    font-size: 15.5px;
    font-weight: $font-semibold;
    color: $blog-subtitle;
    margin-bottom: 90px;
  }

  &__button {
    margin-top: 76px;
    margin-bottom: 70px;
    color: $button-text;
    border: 2px solid $text-subtitle;
    padding: 18px 48px 18px 48px;
    font-weight: 600;
    transition: border-color 0.4;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__container {
    margin: 0 190px;
    @media screen and (max-width: 1500px) {
      margin: 0 120px;
    }
    @media screen and (max-width: 1400px) {
      margin: 0 0px;
    }
  }

  &__row {
    overflow: hidden;
    @include mQ($md) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__img--text {
    background-color: $white;
    text-align: center;
    transition: left 0.5s ease-in-out;

    &:hover {
      .gallery__long-arrow {
        left: 15px;
      }
    }
  }

  &__img--big {
    position: relative;
    @include mQ(1100px) {
      display: none;
    }
    @include mQ($md) {
      display: block;
    }
    @include mQ($sm) {
      display: none;
    }
  }

  &__img--small {
    position: relative;
  }

  &__img--small,
  &__img--red-overlay {
    transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      cursor: pointer;
    }
    &:hover:after {
      background-color: rgba($overlay-red, 0.1);
      display: block;
    }
  }

  &__img--caret {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0%;
      bottom: 45%;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid $white;
      z-index: 3;
    }
  }

  &__img--caret-left {
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      right: 0%;
      bottom: 45%;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid $white;
      z-index: 3;
    }
  }

  &__img--gray-overlay {
    transition: background-color 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      cursor: pointer;
    }
    &:hover:after {
      background-color: rgba($black, 0.4);
      display: block;
    }
  }

  i {
    color: $accent;
    font-size: 20px;
  }

  p {
    font-weight: 600;
    font-size: 17px;
    color: $black;
    letter-spacing: -1px;
    padding-top: 103px;
  }

  &__icon-wrapper {
    padding: 0 136px 0 128px;
    margin: 0 auto;
    @include mQ(1100px) {
      padding: 0 96px 0 89px;
    }
    @include mQ($md) {
      padding: 0 136px 0 128px;
    }
  }
  &__long-arrow {
    margin: 30px auto 0 auto;
    width: 32px;
    border: 2px solid $accent;
    position: relative;

    &:after {
      content: "";
      border: 2px solid $accent;
      position: absolute;
      width: 3px;
      top: -6px;
      right: -1px;
      border-radius: 10%;
      transform: rotate(55deg);
    }
    &:before {
      content: "";
      border: 2px solid $accent;
      position: absolute;
      width: 3px;
      top: 2px;
      border-radius: 10%;
      right: -1px;
      transform: rotate(-55deg);
    }
  }
}
