.footer {
  background-color: $logos-bg;
  font-family: Montserrat, sans-serif;

  &__container {
    @include mQ($lg) {
      margin: 0 0;
    }
  }
  &__logos {
    background-color: $logos-bg;
    padding-top: 82px;
    padding-bottom: 97px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 30px 30px 30px;
      border-color: transparent transparent $accent-darker transparent;
      transform: translateX(-50%);
      @include mQ($md) {
        //bottom: -1%;
        border-width: 0 20px 20px 20px;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: -11%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 30px 30px 30px;
      border-color: transparent transparent $accent transparent;
      transform: translateX(-50%) rotate(180deg);
      z-index: 3;
      @include mQ($lg) {
        bottom: -12%;
      }
      @include mQ($md) {
        bottom: -8%;
        border-width: 0 20px 20px 20px;
      }
    }
    .x {
      color: $text-subtitle;
      font-weight: 500;
      font-size: 13px;
    }
  }

  &__logo {
    padding: 68px 0px 54px 20px;
    width: 100%;
    display: inline-block;
    @include mQ($lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__row {
    @include mQ($lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    div {
      &:nth-child(2) {
        @include mQ($lg) {
          order: 1;
        }
      }
      &:nth-child(3) {
        @include mQ($lg) {
          order: 1;
        }
      }
    }
  }

  &__social-links{
    padding-left: 7px;

  }

  &__copyright{
    font-size: 10px;

  }

  &__links {
    background-color: $footer-bg;
    color: $text-footer;
    font-size: 11px;
    position: relative;
    &:before {
      content: "\f106";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-size: 20px;
      display: block;
      color: $white;
      position: absolute;
      left: 50%;
      top: -3%;
      transform: translateX(-50%);
      z-index: 11;
      @include mQ($lg) {
        top: -3.5%;
      }
      @include mQ($md) {
        top: -2.5%;
      }
    }

    ul {
      li {
        font-weight: 600;
        a {
          display: inline-block;
          padding: 0;
          margin: 0;
          color: $white;
          position: relative;
          transition: background-color 0.5s;
          &:hover {
            &:after {
              content: "";
              display: block;
              position: absolute;
              background-color: $accent;
              width: 100%;
              height: 1px;
              margin-top: 13px;
              text-align: center;
            }
          }
        }
      }
    }
    .ul--first {
      padding: 120px 32px 110px 0;
    
      @include mQ($lg) {
        padding-top: 80px;
        padding-bottom: 25px;
        margin-left: 35px;
      }
    }
    .ul--second {
      padding: 120px 32px 110px 64px;
      @include mQ($lg) {
        padding-top: 0px;
        padding-bottom: 40px;
        margin-left: -40px;
      }
    }

    .circle {
      width: 34px;
      height: 34px;
      line-height: 34px;
      border: 2px solid $text-footer;
      border-radius: 50%;
      margin: 0 7px 49px 8px;
      text-align: center;
      transition: transform 0.2s, color 0.3s;
      &:hover {
        transform: scale(1.2);
        color: rgba($text-footer, 0.6);
      }
    }

    i {
      color: $text-footer;
      font-size: 16px;
      &:hover {
        color: rgba($text-footer, 0.6);
      }
    }
  }
}
