.header {
  background: url("../../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-width: 1600px;
  height: auto;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 190px;
    background: url("../../img/header-logo.png");
    height: 112px;
    width: 171px;
    @include mQ(1470px) {
      left: 120px;
    }
    @include mQ($lg) {
      left: 100px;
    }
    @include mQ(1050px) {
      left: 60px;
    }
    @include mQ($md) {
      left: 0px;
    }
    //@include mQ($sm) {
    //left: 0px;
    //}
  }

  li {
    padding-right: 10px;
  }

  &__topbar {
    height: 42px;
    color: $text-header;
    font-family: "PT Sans", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    overflow: hidden;
    @include mQ(1370px) {
      font-size: 9px;
    }
    @include mQ(950px) {
      font-size: 8px;
    }
    @include mQ(700px) {
      font-size: 7px;
    }
    div {
      &:nth-child(2) {
        //padding-left: 20px;
        @include mQ(1470px) {
          padding-left: 40px;
        }
        @include mQ(1200px) {
          padding-left: 20px;
        }
        @include mQ(1000px) {
          padding-left: 40px;
        }
        @include mQ($md) {
          padding-left: 60px;
        }
        @include mQ(700px) {
          padding-left: 70px;
        }
      }
      &:nth-child(3) {
        @include mQ($md) {
          padding-right: 15px;
        }
      }
    }
    .active {
      color: $white;
    }

    i {
      color: $accent;
      margin-left: 5px;
      @include mQ($sm) {
        //margin-right: 15px;
        //margin-left: -11px;
      }
    }
  }
  &__nav {
    height: 69px;
    overflow: hidden;
    div {
      &:nth-child(2) {
        //padding-left: 20px;
        @include mQ(1470px) {
          padding-left: 40px;
        }
        @include mQ($lg) {
          padding-left: 20px;
        }
        @include mQ(1000px) {
          padding-left: 40px;
        }
      }
      &:nth-child(4) {
        @include mQ(750px) {
          right: -5px;
        }
      }
      &:nth-child(5) {
        @include mQ(750px) {
          right: -5px;
        }
        @include mQ($sm) {
          right: -35px;
        }
      }
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: $font-bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 55px;

        @include mQ(1470px) {
          font-size: 13px;
          padding-right: 30px;
        }

        @include mQ(1270px) {
          font-size: 12px;
          padding-right: 15px;
        }

        @include mQ(1000px) {
          font-size: 11px;
          padding-right: 12px;
        }

        &:last-of-type {
          padding-right: 30px;
          @include mQ($sm) {
            padding-right: 0px;
          }
        }
      }
      .li__search-icon {
        padding-right: 40px;
        @include mQ($lg) {
          padding-right: 10px;
        }
      }
      a {
        color: $black;
      }
      i {
        font-size: 20px;
        &:not(:last-of-type) {
          @include mQ(1470px) {
            font-size: 16px;
          }
        }
      }

      i.fa-shopping-cart {
        position: relative;
        display: flex;
        color: $shopping-icon;
        @include mQ(1470px) {
          right: -4px;
        }
        @include mQ($md) {
          padding-left: 30px;
        }
        //@include mQ(700px) {
        //padding-left: 20px
        //}
        &:after {
          content: "3";
          display: block;
          position: absolute;
          top: -10px;
          right: -18px;
          width: 20px;
          height: 20px;
          background-color: $accent;
          border-radius: 50%;
          color: $white;
          font-family: "Open Sans", sans-serif;
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  &__hamburger {
    width: 40px;
    height: 40px;
    background-color: $white;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    right: -30px;
    //top: 20%;
    //@include mQ(700px) {
    //right: -25px;
    //}
    //@include mQ($sm) {
    //right: -40px;
    //}
    span,
    span:before,
    span:after {
      content: "";
      display: block;
      margin: 0 auto;
      height: 3px;
      width: 19px;
      background: $black;
      position: absolute;
    }
    span:before {
      top: 7px;
    }
    span:after {
      bottom: 7px;
    }
  }

  &__search {
    background: $white;
    display: none;
    max-width: 1600px;
    height: 560px;
    margin-top: -88px;
    h1 {
      color: $search-text;
      font-family: Montserrat, sans-serif;
      font-size: 120px;
      letter-spacing: -10px;
      padding: 208px 0 169px 0;
      text-align: center;
      text-transform: lowercase;
    }
  }

  .jumbotron {
    color: $white;
    font-family: Montserrat, sans-serif;
    position: relative;

    &__logo-puma {
      display: block;
      position: relative;
      padding-top: 100px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        left: 48px;
        //right: 82px;
        background-color: $accent;
        width: 70px;
        height: 3px;
        text-align: center;
      }
    }

    h1 {
      font-size: 67px;
      font-weight: 700;
      margin-top: 136px;
      letter-spacing: -3px;
      @include mQ($sm) {
        font-size: 57px;
        margin-top: 100px;
      }
    }

    h4 {
      font-size: 17px;
      font-weight: 500;
      color: $text-subtitle;
      letter-spacing: -0.7px;
      margin-top: -31px;
      @include mQ(650px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @include mQ($sm) {
        font-size: 14px;
        margin-top: -20px;
      }
    }

    &__button {
      color: $white;
      border: 2px solid $white;
      font-weight: 700;
      margin-top: 63px;
      margin-bottom: 105px;
      padding: 18px 0px 18px 30px;
      transition: border 0.4s;
      &:hover {
        border: 2px solid rgba($text-header, 0.1);
      }
    }

    &__chevron {
      margin-left: 16px;
      margin-right: 18px;
    }

    &__dots {
      margin-bottom: 102px;
      //position: relative;

      span {
        background-color: $dots-bg;
        border-radius: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-left: 13px;
      }
      span.active {
        border: 5px solid $white;
      }
    }
  }
}
