.promo {
  background-color: $blog-bg;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  overflow-y: hidden;

  /*&__row {
    margin: 0 11px;
    justify-content: center;
    align-items: center;
  }*/

  &__card {
    width: 1180px;
    //height: 400px;
    bottom: -475px;
    position: absolute;
    @include mQ($md) {
      max-width: 90%;
      margin: 0 auto;
    }
    @include mQ($sm) {
      overflow: auto;
      flex-direction: column;
    }
  }

  &__card-links {
    h5,
    i {
      font-size: 12px;
      color: $white;
      padding-left: 38px;
      text-transform: uppercase;
    }

    i {
      font-size: 11px;
      padding-left: 14px;
    }
  }

  &__h5--first {
    padding-top: 0px;
  }

  &__h5--second {
    padding-top: 19px;
  }

  &__fa--first {
    padding-top: 22px;
  }
  &__fa--second {
    padding-top: 41px;
  }

  &__img--first {
    background: url(../../img/promo1.jpg) no-repeat;
  }

  &__img--second {
    background: url(../../img/promo2.jpg) no-repeat;
  }

  &__img--first,
  &__img--second {
    position: relative;
    //display: block;
    //height: auto;
    //max-width: 100%;
    @include mQ($md) {
      //width: 600px;
      //height: auto;
    }
  }

  &__border-wrapper {
    width: 510px;
    height: 265px;
    margin: 50px 0px 0px 38px;
    outline: 6px solid $white;
    position: relative;
  }

  &__h1--first,
  &__h1--first-2,
  &__h1--second {
    color: $white;
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 105%;
    padding-bottom: 10px;
  }

  &__h1--first-2 {
    top: 56px;
  }

  &__h1--first {
    background: $promo-orange;
    padding-right: 11px;
  }
  &__h1--first-2 {
    background: $promo-orange-2;
  }

  &__h1--second {
    background: $promo-gray;
    padding-right: 4px;
  }

  /*&__border-wrapper {
    width: 512px;
    height: 265px;
    margin: 50px 0px 0px 38px;
    position: relative;
    border: 6px solid transparent;
    border: 6px solid $white;
    z-index: 4;
  }
  &__h1-wrapper--first {
    background: $promo-orange;
    width: 175px;
    height: 182px;
    position: absolute;
    top: 10px;
    left: 0px;
    padding-left: 38px;
    z-index: 5;
  }

  &__h1-wrapper--second {
    position: absolute;
    background: $promo-gray;
    top: 10px;
    left: 1px;
    z-index: 5;
    width: 252px;
    height: 182px;
    padding-left: 38px;
  }

  &__h1--first,
  &__h1--second {
    color: $white;
    position: relative;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 105%;
  }*/
}
