* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  overflow-x: visible;
}

.container-full {
  width: 100%;
}

.container {
  margin: 0 190px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 10px;
}

img{
 //max-width: 100%;
 //display: block;
 //height: auto;
}

a{
  text-decoration: none;
}