* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  overflow-y: visible;
  overflow-x: hidden;
}
.main-wrapper {
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.container {
  margin: 0 190px;
  @media screen and (max-width: 1470px) {
    margin: 0 120px;
  }
  @media screen and (max-width: $lg) {
    margin: 0 100px;
  }
  @include mQ($md) {
    margin: 0 0px;
  }
  @include mQ($xs) {
    margin: 0 0px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: $text-header;
}

//img {
//max-width: 100%;
//display: block;
//height: auto;
//}
