//grid
$columns: 12;
$spacing: 20px;

//colors
$black: #101010;
$white: #ffffff;
$text-header: #6e6e6e;
$dark-text: #070707;
$accent: #ff6600;
$accent-darker: #eb5e00;
$text-subtitle: #a7a7a7;
$blog-bg: #f4f4f4;
$logos-bg: #e1e1e1;
$text-footer: #5c5c5c;
$footer-bg: #161616;
