//grid
$columns: 12;
$spacing: 20px;

$lg: 1200px;
$md: 868px;
//$sm: 661px;
$sm: 564px;
$xs: 350px;

//colors
$black: #101010;
$white: #ffffff;
$text-header: #6e6e6e;
$dark-text: #070707;
$accent: #ff6600;
$accent-darker: #eb5e00;
$dots-bg: #a7a7a7;
$text-subtitle: #ccc;
$shopping-icon: #4c4c4c;
$search-text: #eeeeee;
$blog-bg: #f4f4f4;
$blog-subtitle: #8f8f8f;
$overlay-red: #ff0000;
$logos-bg: #e1e1e1;
$button-text: #595959;
$text-footer: #5c5c5c;
$footer-bg: #161616;
$promo-orange: linear-gradient(#fd6604, #ff6501);
$promo-gray: #d6d6d6;
